@CHARSET "UTF-8";
/*2016/7/21*/
.logo { 
	padding-left: 15px;
    margin-right: 12px;
    /*margin-top: 12px;*/
}

.f1 {float: left}

.navbar-header { 
	height: 60px;
	line-height: 60px; 
	float: left;
	margin: 0; 
	padding: 0;
}

/*2016/7/21*/
.navbar-header a {    
	float: left;
    color: #FFF;
    font-size: 16px;
    padding: 1px 20px;
    /*margin-right: 32px;*/
}

:link, :visited, ins {
    text-decoration: none;
}

.navbar-header a{
    text-decoration:none;
    outline:none;
    blr:expression(this.onFocus=this.blur());
}

.navbar-header a.active{
    background: rgba(0,0,0,.15);
}
.navbar-header a:hover{
    background: rgba(0,0,0,.15);
}