<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.zking.web.controller.ActionController</servlet-class>
  </servlet>
  <filter>
  	<filter-name>charset_filter</filter-name>
  	<filter-class>com.zking.web.filter.CharsetFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>login_filter</filter-name>
  	<filter-class>com.zking.web.filter.LoginFilter</filter-class>
  </filter>
  
  <servlet>
    <servlet-name>teacher_course</servlet-name>
    <jsp-file>/WEB-INF/teacher/course.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>teacher_header</servlet-name>
    <jsp-file>/WEB-INF/teacher/header.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>teacher_login</servlet-name>
    <jsp-file>/WEB-INF/teacher/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>teacher_video</servlet-name>
    <jsp-file>/WEB-INF/teacher/video.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>admin_teacher</servlet-name>
    <jsp-file>/WEB-INF/admin/teacher.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>admin_category</servlet-name>
    <jsp-file>/WEB-INF/admin/category.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>admin_login</servlet-name>
    <jsp-file>/WEB-INF/admin/login.jsp</jsp-file>
  </servlet>
   <servlet>
    <servlet-name>course_search</servlet-name>
    <jsp-file>/WEB-INF/course/search.jsp</jsp-file>
  </servlet>
  <servlet>
  <servlet-name>user_home</servlet-name>
    <jsp-file>/WEB-INF/user/home.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    	<servlet-name>course_search</servlet-name>
    	<url-pattern>/search</url-pattern>
  	</servlet-mapping> 
  <servlet-mapping>
    	<servlet-name>teacher_course</servlet-name>
    	<url-pattern>/teacher/course</url-pattern>
  	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>teacher_login</servlet-name>
    	<url-pattern>/teacher/login</url-pattern>
  	</servlet-mapping>
 	<servlet-mapping>
    	<servlet-name>teacher_login</servlet-name>
    	<url-pattern>/teacher</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>teacher_header</servlet-name>
    	<url-pattern>/teacher/header</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>teacher_video</servlet-name>
    	<url-pattern>/teacher/video</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>admin_login</servlet-name>
    	<url-pattern>/admin/login</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>admin_login</servlet-name>
    	<url-pattern>/admin</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>admin_teacher</servlet-name>
    	<url-pattern>/admin/teacher</url-pattern>
  	</servlet-mapping>
 	 <servlet-mapping>
    	<servlet-name>admin_category</servlet-name>
    	<url-pattern>/admin/category</url-pattern>
  	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>user_home</servlet-name>
    	<url-pattern>/user</url-pattern>
  	</servlet-mapping>
  	
  	<filter-mapping>
  		<filter-name>charset_filter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
  		<filter-name>login_filter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  <welcome-file-list>
    <welcome-file>/WEB-INF/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
